<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Indian Cinema' in resource group 'Default-Storage-WestUS' -->
  <!-- This key is for Application Insights resource 'Indian Cinema.WindowsPhone-2' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'Indian Cinema.Windows-1' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'Indian Cinema.WindowsPhone-1' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>611f99f1-333c-4d64-a6ed-178cf1345e01</InstrumentationKey>
</ApplicationInsights>